MAIN		       ICON		IMAGES\MAIN.ICO
usuarios32	       GIF		IMAGES\usuarios32.GIF
mudar32		       GIF		IMAGES\mudar.GIF
Logo_login             GIF		IMAGES\logo_fundo.gif
login32                PNG		IMAGES\login32.png
exit32                 PNG		IMAGES\exit32.PNG
exit48                 PNG		IMAGES\exit48.gif
entrada                GIF		IMAGES\entrada.GIF
conectar               PNG		IMAGES\conectar32.PNG
processo               PNG		IMAGES\data_server.PNG
svr_off                GIF              images\svr_off.GIF
svr_on                 GIF              images\svr_on.GIF
habilitado             GIF              images\habilitado.GIF
desabilitado           GIF              images\desabilitado.GIF
logo_cliente           PNG              images\logo_cliente.PNG
CNX_ON                 GIF              images\CNX_ON.GIF
CNX_OFF                GIF              images\CNX_OFF.GIF
bt_toolbar32_pdf       PNG		IMAGES\bt_toolbar32_pdf.png
bt_toolbar48_pdf       PNG		IMAGES\bt_toolbar48_pdf.png
bt_24_pdf              PNG		IMAGES\bt_24_pdf.png
bt_16_pdf              PNG		IMAGES\bt_16_pdf.png